body {
  background-color: var(--bs-gray-800);
  color: var(--bs-white);
}

.form-floating {
  color: var(--bs-dark);
}

.navbar {
  background-color: var(--bs-dark);
  position: sticky;
  top: 0;
  z-index: 1;

  .form-control {
    background-color: var(--bs-gray-700);
    border-color: var(--bs-gray-600);
    border-radius: 1rem;
    color: var(--bs-white);
  }

  .navbar-brand {
    color: var(--bs-white);
  }

  .vr {
    height: 100%;
  }

  .content {
    width: 950px;
  }
}

.nav-link {
  color: var(--bs-white);
}

.content {
  margin: 0 auto;
  width: 800px;
}

.subtitle {
  color: var(--bs-gray-500);
  margin-bottom: 0.5rem !important;
}

.small-subtitle {
  font-size: .7em;
  display: inline-block;
}

.showbox {
  padding-bottom: 0.5rem;

  img {
    display: inline-block;
    float: left;
  }

  .text {
    display: inline-block;

    p {
      margin-bottom: 0px;
    }
  }

  .text p div {
    float: left;
    margin: 0px;
    clear: both;
  }
}

.simple-show {
  display: flex;
  align-items: center;
}

.showbox::after {
  content: "";
  clear: both;
  display: table;
}

.homenotif {
  text-align: center;
  padding-top: 1.5rem;
}

.pbar {
  margin-top: 0.3rem;
  background-color: var(--bs-gray-700);
  width: 15rem;
  border-radius: 15px;
}

.pbar-progress {
  background-color: var(--bs-success);
  color: white;
  padding: 1%;
  border-radius: 15px;
  font-size: 12px;
  text-align: right;
  padding-right: 0.3rem;
  font-weight: 800;
}

.show-title-link {
  text-decoration: none;
  color: var(--bs-white);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.search-term {
  font-weight: 800;
}

.detail-left {
  margin-top: 1rem;
  height: calc(100% - 61px - 1.5rem);
  float: left;
  margin-right: 1.5rem;

  .btn {
    width: 100%;
  }

  .dropdown-menu {
    width: 100%;
  }
}

.rating-stars {
  width: 203px;
}

.rating-input {
  width: 0px;

  input {
    width: 70%;
  }
}

.rating-row {
  width: 80%;

  .rating-stars {
    padding-top: 2rem;
  }

  input {
    width: 50%;
  }

  button {
    margin-top: 2rem;
  }
}

.image-inline {
  display: flex;
  align-items: center;
  width: 110%;
  svg {
    margin-left: 0.3rem;
  }
}

.row .form-check {
  padding-top: 2.3rem;
}

.about p {
  margin-bottom: 0;
}

.badge-owner {
  --bs-bg-opacity: 1;
  background-color: rgba(105, 109, 184, var(--bs-bg-opacity)) !important
}
