<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TV Log</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link href="{% static 'base.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-md mb-2">
      <div class="container-fluid content">
        <a class="navbar-brand">
          <img src="{% static 'logo.png' %}" alt="TV Logo" width=35 height=35>
          TV Logging
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'shows' %}">Shows</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <div class="vr"></div>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="author-name">{{ user.username }}</span>
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/">Profile</a></li>
                <li><a class="dropdown-item" href="/">My Progress</a></li>
                <li><a class="dropdown-item" href="/">Watchlist</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
            {% if user.userex.isEditor %}
             <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Moderator Tools
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/">Add Show</a></li>
              </ul>
            </li>
            {% endif %}
            {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'signup' %}">Sign Up</a>
            </li>
            {% endif %}
          </ul>
          <form class="d-flex mb-0" role="search" action="/shows/" method="GET">
            <input class="form-control me-2 search-box" type="search" placeholder="Search for Shows" aria-label="Search" name="q">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="content">
      {% block content %}{% endblock content %}
    </div>
    {% block script %}{% endblock script %}
  </body>
</html>
